@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
  font-family: 'Futura';
  src: url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.eot');
  src: url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.eot?#iefix') format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.svg#Futura') format('svg');
  font-style: normal;
  font-weight: 400;
}

.supreme {
  font-family: Supreme, Futura, Sans-Serif;
  font-size: 33px;
  margin-bottom: 0 !important;
}

h1 .supreme {
  font-family: Supreme, Futura, Sans-Serif;
  font-size: 33px;
  margin-bottom: 0 !important;
}

h2 .supreme {
  font-family: Supreme, Futura, Sans-Serif;
  font-size: 33px;
  margin-bottom: 0 !important;
}

.pj-item {
  color: #d8acff;
  text-decoration: none;
}

.pj-item:hover {
  text-decoration: underline;
}

.accordion {
  width: 80%;
  length: 100%;
  margin: 2rem auto;
}

.serial {
  color: white
}

.accordion-item {
  height: 100%;
  background-color: #1b1930;
  color: #111;
  margin: 2rem 0;
  height: auto;
  border-radius: none;
  box-shadow: 0 5px 15px #4169e1;
}

.accordion-item-header {
  margin-left: 20px;
  color: white;
  padding: 1.6rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.block {
  margin: 3px 0;
  text-decoration: none;
  background-color: #4169e1;
  display: block;
  width: 100%;
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition-duration: 200ms;
  border-radius: 5px;
}

.block:hover {
  color: white;
  background-color: #6100ff;
  text-decoration: none;
}

.accordion-item-body-content {
  color: white;
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}

.transition,
p,
ul li i:before,
ul li i:after {
  transition: all 0.3s;
}



.highlight-clean {
  color: #1b1930;
  background-color: #fff;
  padding: 50px 0;
}

.highlight-clean p {
  color: #7d8285;
}

.highlight-clean h1 {
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 0px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.highlight-clean h2 {
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.highlight-clean .buttons {
  text-align: center;
}

.highlight-clean .buttons .btn {
  padding: 16px 32px;
  margin: 6px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none;
  background-color: #353535;
}

.highlight-clean .buttons .btn:hover {
  opacity: 1;
  background-color: #747c85;
}

.highlight-clean .buttons .btn:active {
  transform: translateY(1px);
}

.highlight-clean .buttons .btn-primary {
  background-color: #353535;
  color: #fff;
}

.footer-clean {
  padding: 30px 0;
  background-color: #fff;
  color: #1b1930;
}

.footer-clean h3 {

  font-weight: bold;
  font-size: 16px;
}

@media (min-width: 850px) {
  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
}

@media (max-width: 850px) {
  .columns {}
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: sans-serif;
  text-align: center;
  justify-content: space-around;
}

.card {
  display: block;
  align-items: center;
  padding: 10px;
  margin: 20px;
  background-color: #1b1930;
  border-radius: 10px;

}

.row .cards button {
  padding: 10px 40px 10px 40px;
  background: #2e74e6;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  outline: none;
  border: none;
}

.api-item {
  background: rgb(26, 115, 232);
  border-radius: 10px;
  width: 500px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
}

.row .cards button a:hover {
  text-decoration: none;
  color: #fff;
}

.row .cards button a {
  text-decoration: none;
  color: #fff;
}

.row .cards button:hover {
  background: rgb(25, 103, 210);
  transition-delay: 10ms;
  transition-duration: 1s;
}

.row .cards h3 {
  color: white;
}

img {
  border-radius: 10px;
}

.row .cards p {
  color: #fff;
}

::-webkit-scrollbar {
  visibility: hidden;
}

body {
  background-image: linear-gradient(120deg, rgba(0 0 0 / 70%) 0%, rgba(0 0 0 / 69%) 100%), url("https://media.discordapp.net/attachments/857714045251878972/945294190588338226/a_52edc03bbdfbb4ed14dc2031a817c1c1.gif");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  color: white;
}

.highlight-clean {
  background-color: #47474700;
  color: white;
}

.border.rounded-0.article-list {
  background-color: #474747;
  color: white;
}

.border.rounded-0.shadow-lg.footer-clean {
  background-color: #1b1930;
  color: white;
}

.navbar.navbar-light.navbar-expand-md.bg-white.navigation-clean-button {
  background-color: black;
  color: white;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar.navbar-light.navbar-expand-md.bg-white.navigation-clean-button {}

.navbar.navbar-light.navbar-expand-md.navigation-clean-button {
  background-color: #00000000;
}

.border.rounded-0.article-list {
  border-color: black;
}

.separator {
  color: #ffffff;
}

.border-primary.article-list {
  background-color: #474747;
  color: white;
}

.shadow-lg.footer-clean {
  background-color: #1b1930;
}

.btn:not(:disabled):not(.disabled) {
  background-color: #353535;
}

.shadow-lg.footer-clean {
  color: white;
}



join-btn {
  border-radius: 100px;
}

table {
  width: 100%;
}

.price .grey {
  background-color: #000000;
  font-size: 20px;
}

#paypal-button-container1 {
  align-content: space-evenly;
  margin: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#paypal-button-container2 {
  align-content: space-between;
  margin: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#paypal-button-container3 {
  align-items: center;
  margin: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.accordeon-panel,
.accordeon-panel-premium {
  width: 100%;
  height: auto;
  margin-bottom: 1rem
}

.accordeon-panel:hover,
.accordeon-panel:active {
  box-shadow: 0 0 15px 3px #4169e1
}

.accordeon-panel-premium:hover,
.accordeon-panel-premium:active {
  box-shadow: 0 0 15px 3px #ccc900
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.accordeon-panel-head,
.accordeon-panel-head-premium {
  width: 100%;
  background-color: #1b1930;
  color: #eee;
  color: #4880ff;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  font-style: normal;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer
}

.accordeon-panel-head-premium {
  color: #ccc900
}

.accordeon-panel-head span,
.accordeon-panel-head-premium span {
  color: #eee;
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-style: normal
}

.accordeon-panel-head-content {
  width: 90%
}

.accordeon-panel-head-nav {
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.down-arrow {
  border: solid #eee;
  border-width: 0 2px 2px 0;
  height: 6px;
  width: 6px;
  transform-origin: center;
  transform: scale(2) rotate(45deg)
}

.up-arrow {
  border: solid #eee;
  border-width: 0 2px 2px 0;
  height: 6px;
  width: 6px;
  transform-origin: center;
  transform: scale(2) rotate(-135deg) translateX(-2.1px) translateY(-2.1px)
}

.accordeon-panel-body,
.accordeon-panel-body-premium {
  display: none;
  background-color: #1b1930;
  color: #eee;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  padding: 2rem;
  margin-top: 1rem
}

.info {
  color: #4880ff
}

.accordeon-panel-body-premium span {
  color: #ccc900
}

.accordeon-panel-body hr,
.accordeon-panel-body-premium hr {
  margin: 1rem auto;
  border: none;
  border-top: 1px solid #4880ff
}

.accordeon-panel-body-premium hr {
  color: #ccc900
}

.accordeon-panel-body hr:first-child,
.accordeon-panel-body-premium hr:first-child {
  margin: 0 auto 2rem;
  border: none;
  border-top: 1px solid #4880ff
}

.accordeon-panel-body-premium hr:first-child {
  border-top: 1px solid #ccc900
}

.accordeon-panel-body hr:last-child,
.accordeon-panel-body-premium hr:last-child {
  margin: 2rem auto 0;
  border: none;
  border-top: 1px solid #4880ff
}

.accordeon-panel-body-premium hr:last-child {
  border-top: 1px solid #ccc900
}

.accordeon-panel-body h3 {
  color: #eee;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  text-align: center
}

.accordeon-panel-body .fatty {
  color: #eee;
  text-decoration: underline
}


.info {
  text-decoration: none;
}

.accordeon-panel-body-premium a {
  color: #1b1930;
  background-color: #ccc900
}

@media only screen and (max-width:1024px) {

  .accordeon-panel-head,
  .accordeon-panel-head-premium {
    font-size: 1.2rem;
    padding: 1rem
  }

  .accordeon-panel-body,
  .accordeon-panel-body-premium {
    font-size: 1rem
  }

  .accordeon-panel-head-nav {
    width: 2rem
  }

  .down-arrow,
  .up-arrow {
    padding: 2px
  }
}

.article-list {
  color: #313437;
  background-color: rgba(204, 190, 190, 0.42);
}

.article-list p {
  color: #7d8285;
}

.article-list h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .article-list h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.article-list .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.article-list .intro p {
  margin-bottom: 0;
}

.article-list .articles {
  padding-bottom: 40px;
}

.article-list .item {
  padding-top: 50px;
  min-height: 425px;
  text-align: center;
}

.article-list .item .name {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  color: inherit;
}

.article-list .item .description {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 0;
}

.article-list .item .action {
  font-size: 24px;
  width: 24px;
  margin: 22px auto 0;
  line-height: 1;
  display: block;
  color: #4f86c3;
  opacity: 0.85;
  transition: opacity 0.2s;
  text-decoration: none;
}

.article-list .item .action:hover {
  opacity: 1;
}

dl,
ol,
ul {}

.list-unstyled {
  border-radius: 50px;
  background-color: rgba(212, 201, 201, 0.5);
}

rounded {}

.btn.btn-primary.text-center.visible.btn-round {
  border-radius: 69px;
  width: 88%;
  /*padding: 6px;*/
}

.btn:not(:disabled):not(.disabled)-round {
  width: 88%;
}

.btn:not(:disabled):not(.disabled).btn-round {
  width: 88%;
  border-radius: 69px;
  /*padding: .69px;*/
  border-color: white;
}

.highlight-clean {}

.btn join {
  border-radius: 100px;
}

.col {
  background-color: rgba(5, 90, 218, 0.31);
  padding: 10px;
  border-style: outset;
  border: 2px solid rgb(190, 190, 190);
  border-radius: 25px;
  transition: 0.4s;
}

.row {
  column-gap: 40px;
}

.col:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.15);
  transform: scale(1.1);
}

.col {
  min-height: 700px;
}

.navigation-clean-button {
  background: #fff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #474747;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

@media (min-width:768px) {
  .navigation-clean-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navigation-clean-button .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean-button .navbar-brand:hover {
  color: #055ada;
}

.navigation-clean-button.navbar-dark .navbar-brand:hover {
  color: #055ada;
}

.navigation-clean-button .navbar-brand img {
  height: 100%;
  display: inline-block;
  margin-right: 10px;
  width: auto;
}

.navigation-clean-button .navbar-toggler {
  border-color: rgba(238, 238, 238, 0);
}

.navigation-clean-button .navbar-toggler:hover,
.navigation-clean-button .navbar-toggler:focus {
  background: none;
}

.navigation-clean-button.navbar-dark .navbar-toggler {
  border-color: rgba(238, 238, 238, 0);
}

.navigation-clean-button .navbar-toggler {
  color: rgba(238, 238, 238, 0);
}

.navigation-clean-button.navbar-dark .navbar-toggler {
  color: rgba(238, 238, 238, 0);
}

.navigation-clean-button .navbar-collapse,
.navigation-clean-button .form-inline {
  border-top-color: rgba(238, 238, 238, 0);
}

.navigation-clean-button.navbar-dark .navbar-collapse,
.navigation-clean-button.navbar-dark .form-inline {
  border-top-color: #333;
}

.navigation-clean-button .navbar-nav a.active,
.navigation-clean-button .navbar-nav>.show>a {
  background: none;
  box-shadow: none;
}

.navigation-clean-button.navbar-light .navbar-nav a.active,
.navigation-clean-button.navbar-light .navbar-nav a.active:focus,
.navigation-clean-button.navbar-light .navbar-nav a.active:hover {
  color: rgba(255, 255, 255, 0.71);
  box-shadow: none;
  background: none;
  /*pointer-events: none;*/
}

.navigation-clean-button.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
  color: #055ada !important;
  background-color: transparent;
}

.navigation-clean-button .navbar-nav>li>.dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  background-color: #fff;
  border-radius: 2px;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus,
.navigation-clean-button .dropdown-menu .dropdown-item {
  line-height: 2;
  font-size: 14px;
  color: #37434d;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus,
.navigation-clean-button .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-nav .show .dropdown-menu {
    box-shadow: none;
  }
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #37434d;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1;
  }
}

.navigation-clean-button.navbar-dark {
  background-color: #1f2021;
  color: #fff;
}

.navigation-clean-button.navbar-dark .navbar-nav a.active,
.navigation-clean-button.navbar-dark .navbar-nav a.active:focus,
.navigation-clean-button.navbar-dark .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean-button.navbar-dark .navbar-nav .nav-link {
  color: #dfe8ee;
}

.navigation-clean-button.navbar-dark .navbar-nav .nav-link:focus,
.navigation-clean-button.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff !important;
  background-color: transparent;
}

.navigation-clean-button.navbar-dark .navbar-nav>li>.dropdown-menu {
  background-color: #1f2021;
}

.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:focus,
.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item {
  color: #f2f5f8;
}

.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:focus,
.navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:hover {
  background: #363739;
}

@media (max-width:767px) {
  .navigation-clean-button.navbar-dark .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fff;
  }
}

.navigation-clean-button .actions .login {
  margin-right: 1rem;
  text-decoration: none;
  color: #465765;
}

.navigation-clean-button.navbar-dark .actions .login {
  color: #dfe8ee;
}

.navigation-clean-button.navbar-dark .actions .login:hover {
  color: #fff;
}




.navigation-clean-button .navbar-text .action-button,
.navigation-clean-button .navbar-text .action-button:active,
.navigation-clean-button .navbar-text .action-button:hover {
  background: #353535;
  border-radius: 20px;
  font-size: inherit;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: .5rem 1rem;
  transition: background-color 0.25s;
  font-size: inherit;
}


.navigation-clean-button.navbar-dark .action-button,
.navigation-clean-button.navbar-dark .action-button:active {
  background: #208f8f;
}

.navigation-clean-button.navbar-dark .action-button:hover {
  background: #269d9d;
}